<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App ID</key>
	<string>6792131420</string>
	<key>Terms of Use</key>
	<string>https://www.apple.com/legal/internet-services/itunes/dev/stdeula/</string>
	<key>Privacy Policy</key>
	<string></string>
	<key>Developer Link</key>
	<string>https://ge-developer.tilda.ws</string>
	<key>Weekly Subscription</key>
	<string>citizen.ge.premium.weekly</string>
	<key>Monthly Subscription</key>
	<string>citizen.ge.premium.monthly</string>
	<key>RevenueCat API Key</key>
	<string>appl_VaQhIZEUKQpXHyLzdHwWobchltj</string>
	<key>RevenueCat Entitlement</key>
	<string>Citizen GE PRO</string>
	<key>Supabase Anon Key</key>
	<string>sb_publishable_gFZhb1fvMsZBbFCzRC1LaQ_aL2Rju77</string>
	<key>Supabase Project URL</key>
	<string>https://iyajmndpyqmkgxbfjboc.supabase.co</string>
</dict>
</plist>
